---
layout: default
---

  <div class="jumbotron">
    <h1 class="display-3">History</h1>
    <p class="lead">It keeps a track on what we have done during dojos.</p>
  </div>
  <ul>
    {% for post in site.categories["history"] %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <select name="selectedCategory">
    {% assign catList = site.categories %}
    {% for category in catList %}
      <option>{{ category[0] | upcase }}</option>
    {% endfor %}
  </select>
