---
title: history
permalink: history.html
layout: default
---
<h1>Historique des sessions</h1>

<h2 id="dojos-presentations">Présentations</h2>
<ul>
  {% for post in site.categories["presentation"] %}
    <li>
      {{ post.date | date_to_string }} — <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2 id="dojos-workshop">Workshops</h2>
<ul>
  {% for post in site.categories["workshop"] %}
    <li>
      {{ post.date | date_to_string }} — <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2 id="dojos-avances">Dojos avancés</h2>
<ul>
  {% for post in site.categories["advanced"] %}
    <li>
      {{ post.date | date_to_string }} — <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2 id="dojos-apprentis">Dojos apprentis</h2>
<ul>
  {% for post in site.categories["apprentis"] %}
    <li>
      {{ post.date | date_to_string }} — <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
